<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <h1><%= @title%></h1>
    <p>
    We have a new post to you. <br>
    <%= link_to "Click here", @url%>
    </p>
</body>
</html>